NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/Whynot

FILE_UPLOAD_PATH= ./public/uploads
MAX_FILE_UPLOAD=2000000

JWT_SECRET=jwt_secret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

STRIPE_SECRET=sk_test
STRIPE_PUBLIC=pk_test

S3_SIGNED_URL_EXPIRE=36000
S3_SECRET_KEY=secret_key
S3_ACCESS_KEY=access_key

# SMTP_HOST=smtp.mailtrap.io
# SMTP_PORT=2525
# SMTP_EMAIL=
# SMTP_PASSWORD=
# FROM_EMAIL=noreply@whynot.io
# FROM_NAME=Why not